BITLY_ACCESS_TOKEN=your_bitly_access_token_here
GEMINI_API_KEY=your_gemini_api_key_here
MONGODB_URI=mongodb://localhost:27017
MONGODB_DB_NAME=linkbot
JWT_SECRET=564719458be3062079ba4e829d858a850e63004ccd8bd4c3f474e82ee68052bc
BASE_URL=http://localhost:8000
